<div class="container half-black rounding">
  <br/>
    <h1 class="color-turk">Events</h1>
    <hr />
    <p>
        Evenementen organiseren is fantastisch, maar kost veel tijd en expertise. Gelukkig kunnen wij deze taak van u overnemen.<br/>
        Wij gaan met u in gesprek, bespreken uw wensen, komen met verrassende ideeën en zorgen zo voor het perfecte plaatje. <br/>
        Wij voeren alles vakkundig uit en zorgen dat uw evenement onvergetelijk wordt.<br />
        Wij leveren alles van stoel tot tent, van rode loper tot sfeerverlichting, en bouwen alles op. <br/>
        Ook regelen wij vakkundig personeel, en zelfs DJ's en entertainers behoort tot de mogelijkheden door ons brede samenwerkingsbestand. <br/>
        Uiteraard kunnen wij ook de catering voor u verzorgen.
    </p>
    <hr/>

    <p>
        Neem contact met ons op voor de mogelijkheden en een vrijblijvend gesprek.
    </p>
</div>