<div class="container half-black rounding">
  <br/>
    <h1 class="color-turk">
        Contact
    </h1>
    <hr />
<br/>
    <address>
       <span class="color-turk">Adres:</span> Nobelstraat 14 BU3<br />
       <span class="color-turk">Postcode:</span> 2693BC <br/>
       <span class="color-turk">Plaats:</span> 's Gravenzande<br />
    </address>
    <br/>
    <hr/>
    <br/>
    <address>
        <strong>Informatie:</strong> <br/>
        <a href="mailto:info@foodfactorywestland.nl" style="color:#41E0D0">Stuur een mail!</a>
    </address>
    <br/>
</div>