<div class="container">
    <div class="row pt-5">
      <div class="col-md-6 mx-auto rounding half-black pt-2">
        <form [formGroup]="loginUserData">
          <h3 class="color-turk">
            Registreer WebZippi
          </h3>
          <hr />
          <label for="">Gebruikersnaam</label>
          <br />
          <mat-form-field appearance="outline" class="full-width">
            <input matInput placeholder="Gebruikersnaam" formControlName="name" class="text-center string-box">
            <mat-error *ngIf="name.invalid">{{validateName()}}</mat-error>
          </mat-form-field>
          <br />
          <label class="mt-4" for="">Wachtwoord</label>
          <br />
          <mat-form-field appearance="outline" class="full-width">
            <input matInput placeholder="Wachtwoord" formControlName="password" class="text-center string-box" type="password">
            <mat-error *ngIf="password.invalid">{{validatePassword()}}</mat-error>
          </mat-form-field>
          <br />
          <button (click)="registerUser()" type="button" class="btn btn-turk float-right mt-2 mb-2">Log in</button>
          <br />
          <label>{{submitResult}}</label>
        </form>
      </div>
    </div>
  </div>