
.btn {
    color:  white;
 }

 .btn:hover {
     color: #41E0D0;
 }

 .navbar {
     height: 80px;
 }

 .nav-link:hover {
     color: #41E0D0;
 }

 .btn:active{
     color: #41E0D0;
 }

 .FoodFactory {
     color: white;
 }
 .FoodFactory:hover {
     color: #41E0D0;
 }

 .Westland {
     color: #41E0D0;
 }
 .Westland:hover {
     color: white;
 }

 a { 
     font-size: 20px;
 }

 #brand-image {
    height: 60px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    
}  

.navtop {
    margin-top: 10px;
    
}