<div class="container half-black rounding text-center margin">
  <img src="https://i.imgur.com/78K4Zkz.png" alt="LogoHomeComponent.png">
  <h1>
    Welkom bij <br/><span class="color-turk">FoodFactory</span> Westland
  </h1>
  <hr class="color-turk" />
</div>

  <div class="row">
          <div class="col extender">
            <div class="container rounding half-black">
                <br>
                <h3 class="color-turk">
                  Even voorstellen
                </h3>
                <hr class="color-turk" />
                <p>
                  Verse producten, persoonlijke aandacht,
                  zorgeloos genieten en tot in de puntjes verzorgd;
                  dat is waar FoodFactory Westland voor staat.<br/>
                  Wij verzorgen complete catering op maat voor zowel de particulier als de zakelijke klant.<br/>
                  Wij zijn een jong, enthousiast bedrijf dat vol passie iedere uitdaging aangaat.<br/>
                  Wij nemen alle zorgen uit handen en regelen alles voor en met u. Of het nou gaat om een barbecue, walking-dinner,
                  buffet, of een groot feest met complete aankleding: wij regelen het!
                </p>
            </div>
            </div>
          <div class="col extender padding-right">
              <div class="container rounding half-black">
                <br/>
                  <h3 class="color-turk">
                      Waarom zou u voor ons kiezen?
                    </h3>
                    <hr />
                    <p>
                      Wij doen net even dat stapje meer, en dat ook nog eens voor minder...<br />
                      Wij maken catering voor iedereen toegankelijk. Door slimme bedrijfsvoering kunnen wij onze prijzen laag houden.
                      Nieuwsgierig? Blader door onze site en laat u inspireren.
                    </p>
              </div>
        </div>
  </div>






<div class="container half-black rounding mt-4 text-center">
  <br/>
  <p>
    Nieuwsgierig geworden en benieuwd wat wij voor u kunnen betekenen? Neemt u dan geheel vrijblijvend contact met ons
    op. <br />
    Mail naar info@foodfactorywestland.nl of neem contact op via het contactformulier

  </p>

</div>