.margin {
 margin-top: 20px;
}
.extender {
    display: flex;
    flex-wrap: wrap;
}

/* .loading {
    animation: spin .2s infinite ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
