<div class="container half-black rounding">
  <br/>
    <h1 class="color-turk">Catering</h1>
    <hr />

    <p>
        Onze koks hebben veel passie voor koken en voor verse eerlijke ingrediënten. Passie die ze graag delen met uw gasten. Tijdens een barbecuebuffet bereiden onze koks live de lekkerste gerechten voor uw gasten. Naast een uitgebreid buffet vind u prachtige stukken vlees van de barbecue en heerlijke verse vis van de gril. Hieronder staan de pakketten die wij kunnen leveren.
        <br />
        Alles is standaard inclusief kok('s), alle buffet- en barbecuebenodigdheden, bestek en porselein. Verder verhuren wij zeer voordelig partytenten van diverse afmetingen, tafels, stoelen en nog veel meer.
    </p>
    <hr/>
    <p>
        U kunt ook kiezen voor een walking-dinner en aan de hand van onze uitgebreide keuze zelf uw menu samenstellen.
    </p>
</div>

<br />
<div class="container half-black rounding">
  <br/>
    <h3 class="color-turk">Barbecue buffeten</h3>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Budget</th>
                <th scope="col">Standaard</th>
                <th scope="col">Deluxe</th>
                <th scope="col">VIP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>37,50</td>
                <td>40</td>
                <td>45</td>
                <td>50</td>
            </tr>
            <tr>
                <td>
                    All in drank <br />
                    Basic BBQ Buffet
                </td>
                <td>
                    All in drank <br />
                    Uitgebreid BBQ Buffet
                </td>
                <td>
                    All in drank <br />
                    Luxe BBQ Buffet <br />
                    Tapas vooraf <br />
                    Dessertbuffet
                </td>
                <td>
                    All in drank <br />
                    Luxe BBQ Buffet <br />
                    Tapas vooraf <br />
                    Dessertbuffet <br />
                    Prosecco <br />
                    Kreeft en oesters <br />

                </td>
            </tr>
        </tbody>
    </table>
</div>

<br />

<div class="container half-black rounding">
  <br/>
    <h3 class="color-turk">
        Walking-Dinner
    </h3>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Budget</th>
                <th scope="col">Standaard</th>
                <th scope="col">Deluxe</th>
                <th scope="col">VIP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>39,75</td>
                <td>44,50</td>
                <td>49,50</td>
                <td>53,50</td>
            </tr>
            <tr>
                <td>
                    4 gangen<br />
                    incl. drank
                </td>
                <td>
                    5 gangen <br />
                    incl. drank
                </td>
                <td>
                    6 gangen <br />
                    incl. drank
                </td>
                <td>
                    7 gangen <br />
                    incl. drank 
                </td>
            </tr>
        </tbody>
    </table>

</div>

<br />

<div class="container half-black rounding">
  <br/>
    <h3 class="color-turk">
        Hapjes
    </h3>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Budget</th>
                <th scope="col">Standaard</th>
                <th scope="col">Deluxe</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6</td>
                <td>7,50</td>
                <td>9</td>
               
            </tr>
            <tr>
                <td>
                    6 stuks<br />
                    bittergarnituur
                </td>
                <td>
                    3 stuks bittergarnituur <br />
                    3 luxe hapjes
                </td>
                <td>
                    6 luxe hapjes 
                </td>
               
            </tr>
        </tbody>
    </table>

</div>
<br />

<div class="container half-black rounding text-center"   >
  <br/>
    <p>Heeft u liever iets anders of specifieke wensen, laat het ons weten en wij maken voor u een passen voorstel op maat</p>
</div>
<br />
<br />